### dplyr
+ select: 열 선택
+ filter : 조건 검색
+ group_by : 데이터 그룹화
+ mutate : 행/열 추가
+ summrise : 데이터 집계
+ arrange : 데이터 정렬

### arrange (데이터 정렬)

In [1]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
load('rdata/sungjuk.rdata')

In [3]:
# 이름 순으로 오름차순 정렬
sungjuk %>% arrange(name)

  name eng mat sci
1 Jane 78  95  60
2 John 90  85  90
3 Mark 69  49  70
4 Tom  95  96  80

In [4]:
# 이름 순으로 내림차순 정렬
sungjuk %>% arrange(desc(name))

  name eng mat sci
1 Tom  95  96  80
2 Mark 69  49  70
3 John 90  85  90
4 Jane 78  95  60

In [5]:
# 영어/수학/과학 점수를 내림차순으로 정렬
sungjuk %>% arrange(desc(eng,mat,sci))

  name eng mat sci
1 Tom  95  96  80
2 John 90  85  90
3 Jane 78  95  60
4 Mark 69  49  70

###  summarise (데이터 집계)

In [6]:
# 평균 영어 점수 출력
sungjuk %>% summarise('평균 영어 점수'=mean(eng))

  평균 영어 점수
1 83

In [7]:
# 각 과목별로 평균/최고/최소 점수 출력
sungjuk %>% summarise('영어 평균'=mean(eng),
                     '수학 평균'=mean(mat),
                     '과학 평균'=mean(sci))
sungjuk %>% summarise('영어 최고점수'=max(eng),
                     '수학 최고점수'=max(mat),
                     '과학 최고점수'=max(sci))
sungjuk %>% summarise('영어 최저점수'=min(eng),
                     '수학 최저점수'=min(mat),
                     '과학 최저점수'=min(sci))

  영어 평균 수학 평균 과학 평균
1 83        81.25     75

  영어 최고점수 수학 최고점수 과학 최고점수
1 95            96            90

  영어 최저점수 수학 최저점수 과학 최저점수
1 69            49            60

### group_by(데이터 그룹화)

In [8]:
# 새로운 컬럼 추가
sungjuk$class <- c(2,1,2,3)
sungjuk

  name eng mat sci class
1 John 90  85  90  2
2 Tom  95  96  80  1
3 Mark 69  49  70  2
4 Jane 78  95  60  3

In [9]:
# 클래스별 평균 영어 점수
sungjuk %>% group_by(class) %>% summarise(평균영어=mean(eng))

  class 평균영어
1 1     95.0
2 2     79.5
3 3     78.0

In [10]:
# 클래스별 최고/최소 영어 점수
sungjuk %>% group_by(class) %>% summarise(최고영어=max(eng),최저영어=min(eng))

  class 최고영어 최저영어
1 1     95       95
2 2     90       69
3 3     78       78

In [11]:
# diamonds 데이터셋을 이용해서 다음 문제를 풀어보시오
library(ggplot2)
head(diamonds)

  carat cut       color clarity depth table price x    y    z
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48

In [12]:
# carat과 price 변수 출력
diamonds %>% select(carat, price) %>% head()

  carat price
1 0.23  326
2 0.21  326
3 0.23  327
4 0.29  334
5 0.31  335
6 0.24  336

In [13]:
# 변수들 중 carat, price 제외하고 모두 출력
diamonds %>%  select(-carat, -price) %>% head()

  cut       color clarity depth table x    y    z
1 Ideal     E     SI2     61.5  55    3.95 3.98 2.43
2 Premium   E     SI1     59.8  61    3.89 3.84 2.31
3 Good      E     VS1     56.9  65    4.05 4.07 2.31
4 Premium   I     VS2     62.4  58    4.20 4.23 2.63
5 Good      J     SI2     63.3  58    4.34 4.35 2.75
6 Very Good J     VVS2    62.8  57    3.94 3.96 2.48

In [14]:
# 변수명중 c로 시작하는 것만 출력 : starts_with
diamonds %>% select(starts_with("c")) %>% head()

  carat cut       color clarity
1 0.23  Ideal     E     SI2
2 0.21  Premium   E     SI1
3 0.23  Good      E     VS1
4 0.29  Premium   I     VS2
5 0.31  Good      J     SI2
6 0.24  Very Good J     VVS2

In [15]:
# 변수명중 e로 끝나는 것만 출력 : ends_with
diamonds %>% select(ends_with("e")) %>% head()

  table price
1 55    326
2 61    326
3 65    327
4 58    334
5 58    335
6 57    336

In [16]:
# 변수명중 l을 포함하는 것만 출력: contains/matches
diamonds %>% select(contains("l")) %>% head()

  color clarity table
1 E     SI2     55
2 E     SI1     61
3 E     VS1     65
4 I     VS2     58
5 J     SI2     58
6 J     VVS2    57

In [17]:
# 변수명중 r과 t를 포함한 것만 출력
diamonds %>% select(matches("r.t")) %>% head()

  carat clarity
1 0.23  SI2
2 0.21  SI1
3 0.23  VS1
4 0.29  VS2
5 0.31  SI2
6 0.24  VVS2

In [18]:
# cut 변수 값 중 'Ideal' 인 데이터 조회
diamonds %>% filter(cut == 'Ideal') %>% head()

  carat cut   color clarity depth table price x    y    z
1 0.23  Ideal E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.23  Ideal J     VS1     62.8  56    340   3.93 3.90 2.46
3 0.31  Ideal J     SI2     62.2  54    344   4.35 4.37 2.71
4 0.30  Ideal I     SI2     62.0  54    348   4.31 4.34 2.68
5 0.33  Ideal I     SI2     61.8  55    403   4.49 4.51 2.78
6 0.33  Ideal I     SI2     61.2  56    403   4.49 4.50 2.75

In [19]:
# price 가 1000 이상인 데이터 조회
diamonds %>% filter(price >= 1000) %>% head()

  carat cut       color clarity depth table price x    y    z
1 0.70  Ideal     E     SI1     62.5  57    2757  5.70 5.72 3.57
2 0.86  Fair      E     SI2     55.1  69    2757  6.45 6.33 3.52
3 0.70  Ideal     G     VS2     61.6  56    2757  5.70 5.67 3.50
4 0.71  Very Good E     VS2     62.4  57    2759  5.68 5.73 3.56
5 0.78  Very Good G     SI2     63.8  56    2759  5.81 5.85 3.72
6 0.70  Good      E     VS2     57.5  58    2759  5.85 5.90 3.38

In [20]:
# carat이 2이상, price 가 14000 이하인 데이터 조회
diamonds %>% filter(carat > 2, price < 14000) %>% head()

  carat cut     color clarity depth table price x    y    z
1 2.06  Premium J     I1      61.2  58    5203  8.10 8.07 4.95
2 2.14  Fair    J     I1      69.4  57    5405  7.74 7.70 5.36
3 2.15  Fair    J     I1      65.5  57    5430  8.01 7.95 5.23
4 2.22  Fair    J     I1      66.7  56    5607  8.04 8.02 5.36
5 2.01  Fair    I     I1      67.4  58    5696  7.71 7.64 5.17
6 2.01  Fair    I     I1      55.9  64    5696  8.48 8.39 4.71

In [21]:
# carat이 1초과, 5 미만인 데이터 조회  and &
diamonds %>% filter(1 < carat & carat < 5) %>% head()

  carat cut       color clarity depth table price x    y    z
1 1.17  Very Good J     I1      60.2  61    2774  6.83 6.90 4.13
2 1.01  Premium   F     I1      61.8  60    2781  6.39 6.36 3.94
3 1.01  Fair      E     I1      64.5  58    2788  6.29 6.21 4.03
4 1.01  Premium   H     SI2     62.7  59    2788  6.31 6.22 3.93
5 1.05  Very Good J     SI2     63.2  56    2789  6.49 6.45 4.09
6 1.05  Fair      J     SI2     65.8  59    2789  6.41 6.27 4.18

In [22]:
# carat이 1미만이거나, 5초과인 데이터 조회  or |
diamonds %>% filter(1 > carat | carat > 5) %>% head()

  carat cut       color clarity depth table price x    y    z
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48

In [23]:
# cut이 'Ideal'이거나 'Good'인 데이터 조회
diamonds %>% filter(cut %in% c('Ideal','Good')) %>% head()
diamonds %>% filter(cut == 'Ideal'| cut== 'Good') %>% head()

  carat cut   color clarity depth table price x    y    z
1 0.23  Ideal E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.23  Good  E     VS1     56.9  65    327   4.05 4.07 2.31
3 0.31  Good  J     SI2     63.3  58    335   4.34 4.35 2.75
4 0.30  Good  J     SI1     64.0  55    339   4.25 4.28 2.73
5 0.23  Ideal J     VS1     62.8  56    340   3.93 3.90 2.46
6 0.31  Ideal J     SI2     62.2  54    344   4.35 4.37 2.71

  carat cut   color clarity depth table price x    y    z
1 0.23  Ideal E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.23  Good  E     VS1     56.9  65    327   4.05 4.07 2.31
3 0.31  Good  J     SI2     63.3  58    335   4.34 4.35 2.75
4 0.30  Good  J     SI1     64.0  55    339   4.25 4.28 2.73
5 0.23  Ideal J     VS1     62.8  56    340   3.93 3.90 2.46
6 0.31  Ideal J     SI2     62.2  54    344   4.35 4.37 2.71

In [24]:
# cut, color 기준으로 평균 가격을
# avgPrice로, 총 carat을 sumCarat이라는
# 이름으로 집계
diamonds %>% group_by(cut)%>% summarise(avgPrice = mean(price))

  cut       avgPrice
1 Fair      4358.758
2 Good      3928.864
3 Very Good 3981.760
4 Premium   4584.258
5 Ideal     3457.542

In [25]:
diamonds %>% group_by(color) %>% summarise(avgPrice = mean(price))

  color avgPrice
1 D     3169.954
2 E     3076.752
3 F     3724.886
4 G     3999.136
5 H     4486.669
6 I     5091.875
7 J     5323.818

In [26]:
diamonds %>% summarise(SumCarat = sum(carat))

  SumCarat
1 43040.87